node_modules/
.expo/
.git/
android/.gradle/
android/app/build/
android/build/
ios/build/
bin/
obj/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
.env
clear/
package-lock.json
.idea/
.vscode/
*.log
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.bundle/
vendor/
